{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },  
    "extends": [
          "airbnb"
      ],
    "rules": {
      "max-len": ["error", { "code": 80 }]
    }
  }
